.levelText{
    font-family: 'Poppinso', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #252525;
    text-decoration: none!important;
}

.font14Think{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #252525;
    text-decoration: none!important;
}